<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicodelee.app.fast"
>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme.NoActionBar"
      android:name=".APP"
  >
    <activity
        android:name=".ui.view.activity.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".ui.view.activity.PropressWheelActivity">
      <intent-filter>
        <category
            android:name="android.intent.category.DEFAULT"/>
        <action
            android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>

    <activity android:name=".ui.view.activity.PtrHeadActivity"
    >
      <intent-filter>
        <category
            android:name="android.intent.category.DEFAULT"/>
        <action
            android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>

    <activity android:name=".ui.view.activity.HttpShowActivity"></activity>

    <activity android:name=".ui.view.activity.ImagesActivity"></activity>

    <activity android:name=".ui.view.activity.AnimationActivity"></activity>

  </application>

</manifest>
